.container-header-landing {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  overflow: hidden;
  overflow: hidden;
  overflow-x: hidden;

  @include media("<=1200") {
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    svg {
      margin-right: 12px;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    margin-right: 20px;

    @include media("<=1200") {
      display: none;
    }
  }

  .page__text-24-Regular {
    margin: 0 20px;
    position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      font-family: "Montserrat";
      transition: 0.2s ease-in-out;

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }
  }
}
